@page "/auth/login"

@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject IAuthApi AuthApi

<div class="container">
    <div class="row vh-100">
        <div class="col-sm-4 mx-auto my-auto">

            <div class="my-3">
                <h1>Login | Blazing Quiz</h1>
            </div>
            <EditForm Model="loginModel" OnValidSubmit="LoginAsync">
                <DataAnnotationsValidator/>

                <div class="mb-3">
                    <label class="form-label">UserName:</label>
                    <InputText @bind-Value="loginModel.UserName" class="form-control"/>
                    <ValidationMessage For="()=>loginModel.UserName"/>
                </div>                
                <div class="mb-3">
                    <label class="form-label">Password:</label>
                    <InputText type="password" @bind-Value="loginModel.Password" class="form-control" />
                    <ValidationMessage For="()=>loginModel.Password" />

                </div>

                @if(_errorMessage != null)
                {
                    <div class="mb-3 bg-danger text-white p-3" role="alert">
                    <p>@_errorMessage</p>
                    </div>
                }

                <div class="mb-3">
                    @if (_isBusy)
                    {
                        <button type="button" disabled class="btn btn-success">Logining...</button>
                    }
                    else{
                        <button type="submit" class="btn btn-success">Login</button>

                    }
                </div>

            </EditForm>
        </div>
    </div>
</div>

@code {
    private LoginDto loginModel = new();
    private bool _isBusy;
    private string? _errorMessage=null;

    private async Task LoginAsync()
    {
        _isBusy = true;
        _errorMessage = null;
        
        try
        {
            var response = await AuthApi.LoginAsync(loginModel);
            if (response.IsError)
            {
                _errorMessage= response.ErrorMessage;
                
            }

            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            //_errorMessage = ex.Message;
        }

        finally
        {
            _isBusy = false;
        }

    }

}
